footer#footer.footer.cf
  div.footer__about
    div.footer__tagline
      h4 Justin Coleman. #[br] Front-end Developer. #[br] Movie/Car/#[span.hookem Sports Lover].
    div.footer__contact-info
      p.footer__contact-info--phone 469-607-1586
      p.footer__contact-info--email Hello@JustinColeman.com
  div.footer__social
    ul
      li.footer__social-item
        a(href="https://github.com/justincoleman/", target="_blank")
          img(src="assets/img/logo_github.png").footer__social-image
      li.footer__social-item
        a(href="https://twitter.com/jcoleman", target="_blank")
          img(src="assets/img/logo_twitter.png").footer__social-image--twitter
      li.footer__social-item
        a(href="https://www.instagram.com/jcoleman/", target="_blank")
          img(src="assets/img/logo_instagram.png").footer__social-image
      li.footer__social-item
        a(href="https://www.linkedin.com/in/colemanjustin", target="_blank")
          img(src="assets/img/logo_linkedin.png").footer__social-image
  div.fin.cf
    p Made with <span class="heart"></span> in Austin, Texas.