@import "../helpers/variables";

.cover {
  @include background(url(../../images/bg.jpg));
  background-repeat: no-repeat;
  @include background-size(cover); // multiple: comma-delimited
  padding-top: 56.25%;
  background-position: center;  /* Internet Explorer 7/8 */

  @include clearfix;
}

.main {
  position: absolute;
  top: 7.5em;

  h1 {
    width: 54%;
  }

  p {
    width: 60%;
  }
}

.quote { border-right: 2px solid #eee; }
blockquote::before {
  content: "'";
  display:block;
}
blockquote::after {
  content: "'";
  display: block;
  text-align: center;
}

.controls {
  background-color: #fe992a;
  height: 30px;
  width: 61px;
  float: right;
}
.next, .prev {
  width: 30px;
  height: 30px;
  float: left;
  border-right: 1px solid #fff;
  text-align: center;
  vertical-align: middle;
  display: block;
}
.next:hover, .prev:hover {
  background-color: #ffba6e;
}
.next {
  border: none;
}