body {
  padding: 0 20px;
  background: #fefefe;
  margin-bottom: 50px;
}

.toggle {
  padding-left: 0;
}
.toggle:hover{
  text-decoration: none;
}
.toggle i {
  padding-right: 5px;
}

.controls {
  width: 40%;
  float: left;
  background: #f9f9f9;
  padding: 10px 30px;
  color: #666;
  border: 1px solid #ccc;
}

.output {
  float: right;
  position: fixed;
  right: 0;
  top: 7%;
  width: 55%;
}

.advanced {
  border-top: 1px solid #ccc;
}

.form-group {
  display: block !important;
  padding: 20px 0;
  white-space: nowrap;
}
.form-group:first-child {
  min-height: initial;
}

label {
    margin-bottom: 5px !important;
    background: #60A5DA;
    color: white;
    padding: 2px 5px;
}

input[type="range"] {
  margin-bottom: 10px;
}

.full-width {
  width: 100% !important;
  display: block !important;
}
.input-small {
  width: 50px !important;
}

code {
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 20px;
  display: block;
  line-height: 1.5;
  margin-top: 2em;
  width: 95%;
}

.image {
  position: relative;
  width: 500px;
}

.vignette:before {
    background: -webkit-radial-gradient(circle, rgba(75, 75, 75, 0.2) 80%, rgba(0,0,0,0.55));
    background: radial-gradient(circle, rgba(75, 75, 75, 0.2) 80%, rgba(0,0,0,0.55));
}

.image:before,
.image:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}

.image:before{
  z-index: 2;
}

.image:after {
  z-index: 3;
}

img {
  max-width: 500px;
  display: block;
  margin: 10px 0 0;
}

.no-pad {
  padding: 0 !important;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}