$backgroundColor: #eee;
$spacing: 2rem;
$links: #35a8ff;

@import "libs/normalize";

@import url(http://fonts.googleapis.com/css?family=Lato:400,300);

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
  font-family: 'Lato', helvetica, sans-serif;
  background-color: #4878A8;
  background-image: linear-gradient(#4878A8, #285ad5);
  font-weight: 300;
  overflow: scroll;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

h1 {
  color: #fff;
  font-weight: 300;
  font-size: 2.8em;
  line-height: 1.2;
}
h2 {
  font-weight: 300;
  font-size: 2.4em;
  color: rgba(250, 250, 250, 0.8);

  span {
    display: block;
    font-size: 0.5em;
    font-weight: 400;
    color: rgba(250, 250, 250, 0.5);
    text-align: center;
  }
}
h3 {
  color: #285ad5;
  font-weight: 300;
  font-size: 2em;
}
p {
  font-size: 1.1em;
  line-height: 1.4;
}

.button {
  color: #fff;
  background: #FD6E6E;
  width: 40%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;

  &:hover {
    background: darken(#FD6E6E, 5);
    cursor: pointer;
  }
}

form input[type=text] {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  padding: 0 0 0 10px;
  text-align: left;
  font-size: 1.1em;
  border: 1px solid #FFF;
}
form input[type=submit] {
  background: #5EA4FF;
  color: #FFF;
  border: none;
  padding: 10px;
  width: 50%;
  height: 50px;
  margin: 10px auto 0;
  border-radius: 5px;
}
form input[type=submit]:hover {
  background: #2B87FF;
}

.container {
  width: 80%;
  margin: 0 auto;
  // border: 1px solid #fff;
  max-width: 1160px;
}

// UTILITY CLASSES
.white {
  background: #fff;
}
.dark-gray {
  background: #594F4F;
}
.light-gray {
  background: #eee;
}
.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  height: 1px;
  width: 0%;
  z-index: 1000
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}

header {
 width: 100%;
 height: auto;
 padding: 20px 0 0;
 margin-bottom: 40px;

  .logo {
    background: url(../../../images/build/thought_drop_white_logo.png) center no-repeat;
    background-size: contain;
    height: 75px;
    width: 300px;
    margin: 0 auto;
    text-indent: -999em;
  }

  nav {
    width: 186px;
    margin: 15px auto 0;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        float: left;
        width: auto;
        margin-right: 15%;
        // text-align: center;

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
}

section {
  padding: 25px 0;
  position: relative;
}

#hero {
  color: #fff;

  .col-left {
    text-align: center;
  }
  .col-right {
    text-align: left;
  }
  img {
    max-width: 300px;
    max-height: 100%;
  }

}

#feature {
  div {
    margin: 0 0 50px 0;
    text-align: center;
  }
  img {
    max-width: 300px;
  }
}

#testimonials {
  text-align: center;
  color: #fff;
  position: relative;
  height: 360px;

  blockquote {
    text-align: left;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;

    &.current {
      display: block;
    }


    p {
      font-size: 1.6em;
    }
    cite {
      color: rgba(250, 250, 250, 0.9);

      span {
        display: block;
        color: rgba(250, 250, 250, 0.7);
      }
    }
  }
}

#promo {
  color: #000;

  h2 {
    color: #000;

    span {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  form {
    width: 100%;
    margin: 0 auto;
  }
}

footer {
  padding: 20px 10px 10px;
  border-top: 1px solid #ccc;
  ul {
    margin: 0 auto;
    max-width: 900px;

    li {
      list-style: none;
      display: inline-block;
      float: left;
      width: auto;
      margin-right: 40px;
    }
    li:last-child {
      margin-right: 0;
    }
    li a {
      display: inline-block;
      color: #666;
      text-decoration: none;
      text-indent: -999em;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .love {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 40px;
    text-align: center;

    a {
      color: #f5a623;
      text-decoration: none;
      font-weight: bold;
      background: #fff;
      padding: 5px;
      border-radius: 10px;
      transition: all ease-in 0.1s;

      &:hover {
        color: #fff;
        background: #f5a623;
      }
    }
  }
}

.social {
  background-size: 630%;
  background-image: url(../../../images/build/social_icons.png);
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 60px;

  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
}
.twitter {
  background-position: -13px -13px;
}
.facebook {
  background-position: -247px -13px;
}
.email {
  background-position: -13px -258px;
}

#promo {
  text-align: center;
}

// Medium sized screens
@media screen and (min-width: 700px) {
  .container {
    width: 90%;
  }
  .col-left {
    float: left;
    width: 40%;
  }
  .col-right {
    float: right;
    width: 60%;
    padding: 0 0 0 60px;
  }

  header {
    .logo {
      margin: 0;
      background-position: 0 0;
      width: 50%;
      float: left;
    }

    nav {
      width: 45%;
      margin: 3.3% 0 0 5%;
      float: left;

      ul {
        li {
          font-size: 1.1em;
          width: auto;
          margin-right: 7%;
        }
      }
    }
  }

  #hero {
    .col-right {
      padding: 0 0 0 60px;
    }
    .col-left {
      text-align: left;
    }
    img {
      max-width: 300px;
      max-height: 100%;
    }

  }

  #testimonials {
    text-align: center;
    height: 250px;

    blockquote {
      text-align: center;
      top: 80px;

      p {
        font-size: 1.6em;
      }
      cite {
        color: rgba(250, 250, 250, 0.9);

        span {
          display: block;
          color: rgba(250, 250, 250, 0.7);
        }
      }
    }
  }

  #promo {
    form {
      width: 50%;
    }
  }

  footer ul li { margin-right: 31%; }

}

@media screen and (min-width: 1000px) {
  header {
    nav {
      margin-top: 2.8%;
      ul {
        li {
          margin-right: 16%;
        }
      }
    }
  }
  #feature {
    .col-left, .col-right {
      float: none;
      width: auto;
      padding: 0;
      max-height: 610px;
    }
    > div {
      width: 30%;
      float: left;
      margin: 0 5% 0 0;

      &:last-child {
        margin-right: 0;
      }
    }
    img {
      max-height: 607px;
    }
  }

  #hero {
    .col-right {
      text-align: left;
    }
  }
}