body {
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  @include single-text-shadow(1px, 2px, 0, 0, #5ca19c);
}
h1 {
  font-size: 3em;
  margin-bottom: 0.45em;
}
h2 {
  color: $orange;
  @include text-shadow(none); // multiple: comma-delimited
}

p {
  @include single-text-shadow(1px, 1px, 5px, 0px, #5ca19c);
  color: #eee;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.7;
}
a {
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  color: $orange;
  font-style: italic;
  font-weight: 1em;
  line-height: 1.7;
}

aside p {
  color: $gray;
  @include text-shadow(none); // multiple: comma-delimited
}
