footer {
  background-color: $red;
  @include clearfix;
}

#push {
  height: 400px;
}
#footer {
  clear: both;
  position: relative;
  height: 400px;

  .column-3 { @include shift(2); }

  .column-1:nth-child(2)    { @include shift(0); }
  .column-1:nth-child(2n+1) { @include shift(0.5); }
  .column-1:nth-child(3n+1) { @include shift(0.5); }
  .column-1:nth-child(6)    { @include shift(0.5); }
}

ul {
  list-style: none;
  padding: 0;

  li {
    font-size: 0.8em;
    line-height: 2;
  }
}