header {
  position: absolute;
}

#logo {
  margin-top: 1%;
  margin-left: 1%;

  a {
    @include background-image(url(../images/logo.png)); // multiple: comma-delimited
    @include single-transition(opacity, 10, ease-in-out);
    display: block;
    height: 75px;
    width: 75px;

    &:hover {
      @include opacity(0.9); // Takes a number between 0 and 1 as the argument, e.g. 0.5 for 50% opacity
    }
  }
}