// Fonts
$site-font: 'Open Sans', Helvetica, sans-serif;
$header-font: Futura, Helvetica, sans-serif;

// Colors:


// $light-gray: #dddfd4;

$blue: #3fb0ac;
$yellow: #fae596;
$dark-blue: #173e43;
$light-gray: #dddfd4;
$red: #e62739;
$hookem-orange: #C15700;