<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CSS Image Editor</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body class="cf">
  <header id="header" class="header">
     <h1>CSS Image Editor</h1>
  </header><!-- /header -->

  <div class="main" ng-app="app">
    <div ng-controller="EditorCtrl">
      <div class="controls">
        <form class="form-inline">
          <div class="form-group col-xs-12">
            <label for="">Image Path:</label>
            <input type="text" ng-model="defaultImage" class="form-control full-width" />
          </div>

          <div class="form-group col-xs-12 col-md-5">
            <label for="">Brightness:</label>
            <input type="range" min="0.1" max="10" step="0.1" ng-model="image.brightness" />
            <input type="text" min="0.1" max="10" step="0.1" ng-model="image.brightness" class="form-control input-small" />
            <button type="button" class="btn btn-link" ng-click="image.brightness=1">Reset</button>
          </div>

          <div class="form-group col-xs-12 col-md-5 col-md-offset-1">
            <label for="">Contrast:</label>
            <input type="range" min="0.1" max="10" step="0.1" ng-model="image.contrast" />
            <div class="input-group">
              <input type="text" min="0.1" max="10" step="0.1" ng-model="image.contrast" class="form-control input-small" />
              <!-- <span class="input-group-addon">%</span> -->
            </div>
            <button type="button" class="btn btn-link" ng-click="image.contrast=1">Reset</button>
          </div>

          <div class="form-group col-xs-12 col-md-5">
            <label for="">Grayscale:</label>
            <input type="range" min="0" max="1" step="0.1" ng-model="image.grayscale" />
            <input type="text" min="0" max="1" step="0.1" ng-model="image.grayscale"  class="form-control input-small" />
            <button type="button" class="btn btn-link" ng-click="image.grayscale=0">Reset</button>
          </div>

          <div class="form-group col-xs-12 col-md-5 col-md-offset-1">
            <label for="">Hue Rotate:</label>
            <input type="range" min="-100" max="360" ng-model="image.hueRotate" />
            <div class="input-group">
              <input type="text" min="-100" max="360" ng-model="image.hueRotate" class="form-control input-small" />
              <span class="input-group-addon">deg</span>
            </div>
            <button type="button" class="btn btn-link" ng-click="image.hueRotate=0">Reset</button>
          </div>

          <div class="form-group col-xs-12 col-md-5">
            <label for="">Invert:</label>
            <input type="range" min="0" max="100" ng-model="image.invert" />
            <div class="input-group">
              <input type="text" min="0" max="100" ng-model="image.invert" class="form-control input-small" />
              <span class="input-group-addon">%</span>
            </div>
            <button type="button" class="btn btn-link" ng-click="image.invert=0">Reset</button>
          </div>

          <div class="form-group col-xs-12 col-md-5 col-md-offset-1">
            <label for="">Opacity:</label>
            <input type="range" min="0" max="1" step="0.1" ng-model="image.opacity" />
            <input type="text" min="0" max="1" step="0.1" ng-model="image.opacity" class="form-control input-small" />
            <button type="button" class="btn btn-link" ng-click="image.opacity=1">Reset</button>
          </div>

          <div class="form-group col-xs-12 col-md-5">
            <label for="">Saturate:</label>
            <input type="range" min="0" max="400" ng-model="image.saturate" />
            <div class="input-group">
              <input type="text" min="0" max="400" ng-model="image.saturate" class="form-control input-small" />
              <span class="input-group-addon">%</span>
            </div>
            <button type="button" class="btn btn-link" ng-click="image.saturate=100">Reset</button>
          </div>

          <div class="form-group col-xs-12 col-md-5 col-md-offset-1">
            <label for="">Sepia:</label>
            <input type="range" min="0" max="100" ng-model="image.sepia" />
            <div class="input-group">
              <input type="text" min="0" max="100" ng-model="image.sepia" class="form-control input-small" />
              <span class="input-group-addon">%</span>
            </div>
            <button type="button" class="btn btn-link" ng-click="image.sepia=0">Reset</button>
          </div>

          <div class="form-group col-xs-12 col-md-5">
            <div class="checkbox">
              <h5>Vignette
                <input type="checkbox" ng-model="vignette" ng-true-value="'on'" ng-false-value="'off'">
                <span ng-show="vignette == 'on'">
                  On
                </span>
              </h5>
            </div>
          </div>


          <div class="col-xs-12 no-pad">
            <a class="btn btn-link toggle" ng-click="advancedToggle = !advancedToggle"><i class="glyphicon" ng-class="{'glyphicon-chevron-down': advancedToggle , 'glyphicon-chevron-right': !advancedToggle }"></i>View More</a>
          </div>

          <div ng-show="advancedToggle" class="advanced col-xs-12 no-pad">
            <div class="form-group col-xs-12 col-md-5">
              <label for="">Blur:</label>
              <input type="range" min="0" max="25" ng-model="image.blur" />
              <div class="input-group">
                <input type="text" min="0" max="25" ng-model="image.blur" class="form-control input-small" />
                <span class="input-group-addon">px</span>
              </div>
              <button type="button" class="btn btn-link" ng-click="image.blur=0">Reset</button>
            </div>

            <div class="form-group col-xs-12">
              <label for="">Drop Shadow:</label><br>

              <div class="col-xs-12 col-md-5 no-pad">
                <h5>Offset-X</h5>
                <input type="range" min="-100" max="100" ng-model="image.shadowX" />

                <div class="input-group">
                  <input type="text" min="-100" max="100" ng-model="image.shadowX" class="form-control input-small" />
                  <span class="input-group-addon">px</span>
                </div>
                <button type="button" class="btn btn-link" ng-click="image.shadowX=0">Reset</button>
              </div>

              <div class="col-xs-12 col-md-5 col-md-offset-1 no-pad">
                <h5>Offset-Y</h5>
                <input type="range" min="-100" max="100" ng-model="image.shadowY" />

                <div class="input-group">
                  <input type="text" min="-100" max="100" ng-model="image.shadowY" class="form-control input-small" />
                  <span class="input-group-addon">px</span>
                </div>
                <button type="button" class="btn btn-link" ng-click="image.shadowY=0">Reset</button>
              </div>

              <div class="col-xs-12 col-md-5 no-pad">
                <h5>Spread</h5>
                <input type="range" min="0" max="100" ng-model="image.shadowSpread" />

                <div class="input-group">
                  <input type="text" min="0" max="100" ng-model="image.shadowSpread" class="form-control input-small" />
                  <span class="input-group-addon">px</span>
                </div>
                <button type="button" class="btn btn-link" ng-click="image.shadowSpread=0">Reset</button>
              </div>

              <div class="col-xs-12 col-md-5 col-md-offset-1 no-pad">
                <h5>Color</h5>
                <input type="text" ng-model="image.shadowColor" class="form-control" />
                <button type="button" class="btn btn-link" ng-click="image.shadowColor='black'">Reset</button>
              </div>
            </div>
          </div>
        </form>

      </div>

      <div class="output">
        <h3>Preset Filters</h3>
        <button class="btn btn-primary" ng-click="vivid()">Vivid Colors</button>
        <button class="btn btn-primary" ng-click="vintage()">Vintage</button>
        <button class="btn btn-primary" ng-click="bw()">Black &amp; White</button>
        <button class="btn btn-primary" ng-click="brighten()">Brighten</button>
        <button class="btn btn-primary" ng-click="trippy()">Trippy</button>
        <button class="btn btn-danger" ng-click="reset()">Reset</button>

        <div class="image">
          <img ng-src="{{defaultImage}}"
             ng-style="imageStyles"
          />
        </div>

        <code>
            -webkit-filter:
              blur({{image.blur}}px)
              brightness({{image.brightness}})
              contrast({{image.contrast}})
              drop-shadow({{image.shadowX}}px {{image.shadowY}}px {{image.shadowSpread}}px {{image.shadowColor}})
              grayscale({{image.grayscale}})
              hue-rotate({{image.hueRotate}}deg)
              invert({{image.invert}}%)
              opacity({{image.opacity}})
              saturate({{image.saturate}}%)
              sepia({{image.sepia}}%);

          <br>
          <br>

          filter:
              blur({{image.blur}}px)
              brightness({{image.brightness}})
              contrast({{image.contrast}})
              drop-shadow({{image.shadowX}}px {{image.shadowY}}px {{image.shadowSpread}}px {{image.shadowColor}})
              grayscale({{image.grayscale}})
              hue-rotate({{image.hueRotate}}deg)
              invert({{image.invert}}%)
              opacity({{image.opacity}})
              saturate({{image.saturate}}%)
              sepia({{image.sepia}}%);
        </code>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>

  <script src="js/app.js" type="text/javascript"></script>
</body>
</html>