@import "global/_variables";

.blog {
    width: 90%;
    max-width: 1050px;
    margin: 0 auto;
    color: #666;
    padding: 50px 0;

    h2 {
        line-height: 1;
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 20px;
    }

    .post {
        margin: 0 0 40px;
        padding-bottom: 10px;

        img {
            margin-bottom: 10px;
        }
    }

    .post-details {
        margin-bottom: 20px;
        text-align: center;
        position: relative;

        &:before {
            content: '';
            display: inline-block;
            height: 1px;
            width: 100%;
            vertical-align: middle;
            border: 1px solid #eee;
            position: absolute;
            left: 0;
            top: 50%;
        }

        .date {
            padding: 0 20px;
            background: white;
            z-index: 1;
            position: relative;
            font-weight: bold;
            color: #bbb;
        }

        a {
            font-weight: bold;
            color: white;
        }
    }

    .pagination {
        font-size: 2rem;

        .page-numbers:not(.current) {
            background: $green;
            color: white;
            padding: 0 13px;
            border-radius: 50px;

            &:hover {
                background: darken($green, 10%);
                text-decoration: none;
            }
        }
    }
}